<div class="container mt-2">
  <div class="container" style="min-height: 200px">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-11">
        <div class="row">
          <div class="col-8">
            <select class="form-select" [(ngModel)]="selectedVoice">
              <option *ngFor="let option of voices" [ngValue]="option">{{ option.name }}</option>
            </select>
          </div>
          <div class="col-4">
            <select class="form-select" [(ngModel)]="isAuto">
              <option [ngValue]="true">Auto</option>
              <option [ngValue]="false">Manual</option>
            </select>
          </div>
        </div>

        <div>{{ deployT }} - {{ page }} - {{ countSawWords }}</div>
      </div>

      <div class="col-1 d-flex justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12 d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showEn && !showVN">
      <div class="row" style="min-height: 80px">
        <h1 style="float: right; font-size: 25px; text-align: center">
          {{ renderEnWord(enWord1) }}
        </h1>
      </div>
      <div class="row" style="min-height: 80px"></div>
    </div>
    <div *ngIf="!showEn && showVN">
      <div class="row" style="min-height: 80px"></div>
      <div class="row" style="min-height: 80px">
        <h1 style="font-size: 20px; color: blue; text-align: center">
          {{ vnWord1 }}
        </h1>
      </div>
    </div>
    <div *ngIf="showEn && showVN">
      <div class="row" style="min-height: 80px">
        <h1 style="float: right; font-size: 25px; text-align: center">
          {{ renderEnWord(enWord1) }}
        </h1>
      </div>
      <div class="row" style="min-height: 80px">
        <h1 style="font-size: 20px; color: blue; text-align: center">
          {{ vnWord1 }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row" style="min-height: 90px">
    <div class="col-12" style="font-size: 22px; text-align: center" *ngIf="canSpeak && showEn && showVN">
      {{ enWord2 }}
    </div>
  </div>

  <div class="row d-none d-md-flex">
    <div class="col-12 d-flex justify-content-center">
      <textarea [(ngModel)]="textxtx" cols="40" rows="3" class="form-control" style="max-width: 500px;" [ngClass]="{
          'border-primary': textxtx == '' || textxtx == enWord2,
          'border-danger': textxtx != '' && textxtx != enWord2}">
      </textarea>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <button class="btn btn-primary fw-bold" style="min-width: 90px; height: 60px; font-size: 18px; color: black;"
        (click)="speakWord()" *ngIf="canSpeak">
        Wo
        <img src="assets/icons/volume-up-svgrepo-com.svg"
          style="width: 20px; height: 20px; vertical-align: middle; margin-bottom: 3px;">
      </button>
      <button class="btn btn-secondary fw-bold" style="min-width: 90px; height: 60px; font-size: 18px;"
        (click)="checkAbleSpeak()" *ngIf="!canSpeak">
        Mute
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-warning fw-bold" style="min-width: 90px; height: 60px; font-size: 18px;"
        (click)="speakSentence()" *ngIf="canSpeak && showEn && showVN">
        Se
        <img src="assets/icons/volume-up-svgrepo-com.svg" style="width: 20px; height: 20px; vertical-align: middle;">
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-success me-2 fw-bold" style="min-width: 90px; height: 60px; font-size: 18px; color: black;"
        (click)="change()" *ngIf="!showEn || !showVN">
        Re
      </button>
      <button class="btn btn-danger me-2 fw-bold" style="min-width: 90px; height: 60px; font-size: 18px; color: black;"
        (click)="next()" *ngIf="showEn && showVN">
        Ne
      </button>
    </div>
  </div>

  <div class="col-auto d-flex flex-column align-items-center mt-4">
    <div class="row" [ngClass]="{'bg-light': i % 2 === 0, 'bg-white': i % 2 !== 0}" style="min-height: 45px;"
      *ngFor="let learnedWord of learnedWords.slice(0, learnedWords.length - 1).reverse(); let i = index">
      <div class="col-4 d-flex align-items-center pe-1"
        style="width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: wrap; cursor: pointer;"
        (click)="toggleHideLearnedWord(learnedWord.id)">
        <strong>{{ learnedWord.en1 }}</strong>
      </div>
      <div class="col-7 d-flex align-items-center px-0"
        style="width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: wrap; cursor: pointer;"
        [ngStyle]="{'color': learnedWord.hide ? (i % 2 === 0 ? '#f8f9fa' : '#fff') : '#212529'}"
        (click)="toggleHideLearnedWord(learnedWord.id)">
        {{ learnedWord.vn1 }}
      </div>
      <div class="col-1 d-flex align-items-center justify-content-center pe-0" style="width: 50px;">
        <button class="btn btn-sm btn-danger fw-bold" style="color: black;"
          (click)="deleteLearnedWord(learnedWord.id)">D</button>
      </div>
    </div>
    <div class="col-auto d-flex flex-columnd align-items-center mt-2 mb-5">
      <button class="btn btn-danger fw-bold me-2" style="color: black; width: 150px; height: 50px;"
        (click)="cleanLearnedWords()">Clean</button>
      <button class="btn btn-info fw-bold" style="color: black; width: 200px; height: 50px;"
        (click)="clearAndSuffleLearnedWords()">Cl & Su</button>
    </div>
  </div>

  <!-- <div *ngFor="let voice of voices" style="margin-bottom: 10px;">
    <strong>{{ voice.name }}</strong> ({{ voice.lang }})
  </div> -->
  <!-- <pre>{{ voices | json }}</pre> -->
</div>