<div class="container mt-5">
  <div class="container" style="min-height: 300px">
    <div>{{ countSawWords }}</div>
    <div class="row">
      <div class="col-6">
        <div *ngIf="see">
          <h1 class="main-word">{{ enWord1 }}</h1>
          <h3>{{ enWord2 }}</h3>
          <h3>{{ enWord3 }}</h3>
          <h3>{{ enWord4 }}</h3>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="show">
          <h1 class="main-mean">{{ vnWord1 }}</h1>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-success mt-5 me-2"
    style="min-width: 100px"
    (click)="change()"
    *ngIf="!see || !show"
  >
    Result
  </button>

  <button
    class="btn btn-danger mt-5 me-2"
    style="min-width: 100px"
    (click)="next()"
    *ngIf="see && show"
  >
    Next
  </button>

  <button class="btn btn-warning mt-5 me-2" (click)="copyMessage()">
    Copy
  </button>
</div>
